body
  background-color: $base-color
  color: $font-color
  font-family: Ubuntu, sans-serif
  font-size: $body-text
  line-height: $body-lh
h1,h2,h3,h4
  font-family: MontserratAlternates, sans-serif
  font-weight: 700
  color: #FFFFFF
  span
    color: $accent-color
    font-weight: inherit
    font-size: inherit
    line-height: inherit
h1
  font-size: $h1-size
  line-height: $h1-lh
h2
  font-size: $h2-size
  line-height: $h2-lh
h3
  font-size: $h3-size
  line-height: $h3-lh
h3
  font-size: $h4-size
  line-height: $h4-lh


#bm2
  width: 70px
  cursor: pointer