include particles/_head
body
  .wrapper
    h1 Індивідуальний підхід до розробки
      span  веб дизайну
    | Деякий текст для тестування відображення
    #bm
    #bm2
    img(src='img/profile.jpg' style='max-width: 500px' alt='some text')


  script(src='js/script.js')