include particles/_head
body
  .wrapper
    h1 Hello! this is test animation
    #bm
    #bm2
    img(src='img/profile.jpg' style='max-width: 500px' alt='some text')


  script(src='js/script.min.js')